.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.15);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100svh;
  padding: 0.5rem;
  gap: 1rem;
  font-family: var(--font-geist-sans);
  background-color: #0a0a0a;
  color: #ededed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
